// COLOR VARIABLE;


$color-text: #3e3f5e;
$color-blue: #615dfa;
$color-blue-heavy:#5753e4;

$color-lightblue: #23d2e2;
$color-lightblue-heavy:#1bc5d4;
$text-secondary: #1abc9c;
$text-dark: #adafca;



$container: 117rem;
